Repository takehaya/xdperf: changes, and which lefthook commands are due for each by the changed paths.
All: check-executables-have-shebangs, trailing-whitespace, yamllint, check-json, check-toml, mixed-line-ending, golangci-lint, clang-format

lefthook.yaml:

---
pre-commit:
  parallel: true
  commands:
    check-executables-have-shebangs:
      glob: "**/*"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          if [ -x "$file" ] && [ -f "$file" ] && ! grep -q '^#!' "$file"; then
            echo "Executable without shebang: $file"
            exit 1
          fi
        done

    trailing-whitespace:
      glob: "**/*"
      exclude:
        - "*.md"
        - "*.patch"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          if grep -q '[[:space:]]$' "$file"; then
            sed -i 's/[[:space:]]*$//' "$file"
            echo "Fixed trailing whitespace in: $file"
          fi
        done

    yamllint:
      glob: "**/*.{yml,yaml}"
      run: yamllint -f colored {staged_files}

    check-json:
      glob: "**/*.json"
      run: |
        failed=0
        for f in {staged_files}; do
          if ! jq -e empty "$f" >/dev/null 2>&1; then
            echo "JSON parse error in $f"
            jq empty "$f"
            failed=1
          fi
        done
        exit $failed

    check-toml:
      glob: "**/*.toml"
      run: taplo check {staged_files}

    mixed-line-ending:
      glob: "**/*"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          dos2unix -q "$file"
        done

    golangci-lint:
      glob: "**/*.go"
      run: golangci-lint run --fix

    clang-format:
      glob: "**/*.{c,h,cc,cpp}"
      run: clang-format -i {staged_files}

commit-msg:
  commands:
    msg-check:
      run: |
        if ! grep -qE '^(hotfix|feat|fix|docs|style|refactor|perf|test|chore|ci)((\([^\)]*\))|)!?:\s*' {1}; then
          echo "Commit message must include conventional commit type."
          echo "Format: <type>(<scope>): <description>"
          exit 1
        fi

# Colors and output
colors: true

feat(examples): OTLP metrics export scenario
  examples/README.md
  examples/otlp-metrics/README.md
  examples/otlp-metrics/otelcol.yaml
  examples/otlp-metrics/otlp_common.sh
  examples/otlp-metrics/setup.sh
  examples/otlp-metrics/teardown.sh
  examples/otlp-metrics/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

fix(examples): wait for the prometheus exporter port in collector readiness
  examples/otlp-metrics/setup.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(examples): retry the prometheus scrape before failing the assertion
  examples/otlp-metrics/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(examples): clean up a stray netns-side device name before creating mgmt veth
  examples/otlp-metrics/otlp_common.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(bpf): load on kernel 7.2+ by keeping subprogs within 5 register args; CI coverage for rc kernels (#104)
  .github/kernel-config/ci-x86_64.config
  .github/kernel-config/ci.config
  .github/workflows/bpf_load_test.yaml
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.o
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, clang-format

feat(examples): OTLP metrics export scenario (#105)
  examples/README.md
  examples/otlp-metrics/README.md
  examples/otlp-metrics/otelcol.yaml
  examples/otlp-metrics/otlp_common.sh
  examples/otlp-metrics/setup.sh
  examples/otlp-metrics/teardown.sh
  examples/otlp-metrics/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

docs(tips): veth multi-queue for container-grade throughput
  docs/ja/tips.md
Due: check-executables-have-shebangs, mixed-line-ending

feat(plugins): configurable src-port sweep range for simpleudp
  plugins/simpleudp.go/config.go
  plugins/simpleudp.go/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs(benchmark): kernel 7.2 re-measurement addendum
  docs/ja/benchmark_realnic.md
Due: check-executables-have-shebangs, mixed-line-ending

fix(plugins): validate simpleudp sweep range before building the template
  plugins/simpleudp.go/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs(benchmark): name the exact plugin variant providing the sweep keys
  docs/ja/benchmark_realnic.md
Due: check-executables-have-shebangs, mixed-line-ending

feat(plugins): configurable simpleudp sweep range; docs: kernel 7.2 benchmark addendum (#106)
  docs/ja/benchmark_realnic.md
  plugins/simpleudp.go/config.go
  plugins/simpleudp.go/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: fallback to XDP generic mode when native attach fails
  pkg/xdperf/xdperf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(examples): forced generic-mode scenario and --xdp-mode docs
  docs/ja/tips.md
  examples/README.md
  examples/common/udp_scenario.sh
  examples/simpleudp-xdp-generic/README.md
  examples/simpleudp-xdp-generic/setup.sh
  examples/simpleudp-xdp-generic/teardown.sh
  examples/simpleudp-xdp-generic/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

feat: add --xdp-mode flag for XDP attach mode selection
  cmd/xdperf/main.go
  pkg/xdperf/attach.go
  pkg/xdperf/config.go
  pkg/xdperf/server.go
  pkg/xdperf/validate_test.go
  pkg/xdperf/xdperf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs: align comments and log wording with actual attach behavior
  docs/ja/tips.md
  examples/common/udp_scenario.sh
  pkg/xdperf/attach.go
  pkg/xdperf/config.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: XDP attach mode selection (--xdp-mode) with generic fallback (#107)
  cmd/xdperf/main.go
  docs/ja/tips.md
  examples/README.md
  examples/common/udp_scenario.sh
  examples/simpleudp-xdp-generic/README.md
  examples/simpleudp-xdp-generic/setup.sh
  examples/simpleudp-xdp-generic/teardown.sh
  examples/simpleudp-xdp-generic/test.sh
  pkg/xdperf/attach.go
  pkg/xdperf/config.go
  pkg/xdperf/server.go
  pkg/xdperf/validate_test.go
  pkg/xdperf/xdperf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs(examples): convert topology diagrams to mermaid
  examples/README.md
  examples/otlp-metrics/README.md
  examples/simpleudp-echo/README.md
Due: check-executables-have-shebangs, mixed-line-ending

docs(examples): convert topology diagrams to mermaid (#108)
  examples/README.md
  examples/otlp-metrics/README.md
  examples/simpleudp-echo/README.md
Due: check-executables-have-shebangs, mixed-line-ending

feat: add --rx-device to split TX and RX devices in one process
  cmd/xdperf/main.go
  examples/README.md
  examples/simpleudp-split-rx/README.md
  examples/simpleudp-split-rx/common.sh
  examples/simpleudp-split-rx/setup.sh
  examples/simpleudp-split-rx/teardown.sh
  examples/simpleudp-split-rx/test.sh
  pkg/telemetry/telemetry.go
  pkg/telemetry/telemetry_test.go
  pkg/xdperf/attach.go
  pkg/xdperf/config.go
  pkg/xdperf/server.go
  pkg/xdperf/validate_test.go
  pkg/xdperf/xdperf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(otlp): export xdperf.rx_device only when the RX attach is actually split
  pkg/xdperf/xdperf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: add --rx-device to split TX and RX devices in one process (#109)
  cmd/xdperf/main.go
  examples/README.md
  examples/simpleudp-split-rx/README.md
  examples/simpleudp-split-rx/common.sh
  examples/simpleudp-split-rx/setup.sh
  examples/simpleudp-split-rx/teardown.sh
  examples/simpleudp-split-rx/test.sh
  pkg/telemetry/telemetry.go
  pkg/telemetry/telemetry_test.go
  pkg/xdperf/attach.go
  pkg/xdperf/config.go
  pkg/xdperf/server.go
  pkg/xdperf/validate_test.go
  pkg/xdperf/xdperf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs(xdp): fix ipv6_find_transport comment to say segment[0]
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

docs(xdp): fix ipv6_find_transport comment to say segment[0] (#111)
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

fix(vxlan): trim gopacket's 60-byte inner Ethernet padding
  plugins/vxlan.go/builder/builder.go
  plugins/vxlan.go/builder/builder_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(plugins): add srv6 plugin (RFC 8754) with three encapsulation modes
  .goreleaser.yaml
  AGENTS.md
  examples/README.md
  examples/srv6/README.md
  examples/srv6/setup.sh
  examples/srv6/teardown.sh
  examples/srv6/test.sh
  pkg/guest/layers.go
  pkg/plugin/srv6_integration_test.go
  plugins/README.md
  plugins/srv6.go/README.md
  plugins/srv6.go/builder/builder.go
  plugins/srv6.go/builder/builder_test.go
  plugins/srv6.go/config.go
  plugins/srv6.go/go.mod
  plugins/srv6.go/go.sum
  plugins/srv6.go/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs(srv6): fix segment-order comment and dst_mac fallback description
  plugins/srv6.go/README.md
  plugins/srv6.go/builder/builder.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs(guest): correct HeaderLen-0 derivation comment and test the IPv6 spec helper
  pkg/guest/layers.go
  pkg/guest/layers_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs(examples): fix 2-segment minimum frame lengths in srv6 test comment
  examples/srv6/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

feat(plugins): add srv6 plugin (RFC 8754) (#112)
  .goreleaser.yaml
  AGENTS.md
  examples/README.md
  examples/srv6/README.md
  examples/srv6/setup.sh
  examples/srv6/teardown.sh
  examples/srv6/test.sh
  pkg/guest/layers.go
  pkg/guest/layers_test.go
  pkg/plugin/srv6_integration_test.go
  plugins/README.md
  plugins/srv6.go/README.md
  plugins/srv6.go/builder/builder.go
  plugins/srv6.go/builder/builder_test.go
  plugins/srv6.go/config.go
  plugins/srv6.go/go.mod
  plugins/srv6.go/go.sum
  plugins/srv6.go/main.go
  plugins/vxlan.go/builder/builder.go
  plugins/vxlan.go/builder/builder_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint
