Repository takehaya/xdperf: changes, and which lefthook commands are due for each by the changed paths.
All: check-executables-have-shebangs, trailing-whitespace, yamllint, check-json, check-toml, mixed-line-ending, golangci-lint, clang-format

lefthook.yaml:

---
pre-commit:
  parallel: true
  commands:
    check-executables-have-shebangs:
      glob: "**/*"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          if [ -x "$file" ] && [ -f "$file" ] && ! grep -q '^#!' "$file"; then
            echo "Executable without shebang: $file"
            exit 1
          fi
        done

    trailing-whitespace:
      glob: "**/*"
      exclude:
        - "*.md"
        - "*.patch"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          if grep -q '[[:space:]]$' "$file"; then
            sed -i 's/[[:space:]]*$//' "$file"
            echo "Fixed trailing whitespace in: $file"
          fi
        done

    yamllint:
      glob: "**/*.{yml,yaml}"
      run: yamllint -f colored {staged_files}

    check-json:
      glob: "**/*.json"
      run: |
        failed=0
        for f in {staged_files}; do
          if ! jq -e empty "$f" >/dev/null 2>&1; then
            echo "JSON parse error in $f"
            jq empty "$f"
            failed=1
          fi
        done
        exit $failed

    check-toml:
      glob: "**/*.toml"
      run: taplo check {staged_files}

    mixed-line-ending:
      glob: "**/*"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          dos2unix -q "$file"
        done

    golangci-lint:
      glob: "**/*.go"
      run: golangci-lint run --fix

    clang-format:
      glob: "**/*.{c,h,cc,cpp}"
      run: clang-format -i {staged_files}

commit-msg:
  commands:
    msg-check:
      run: |
        if ! grep -qE '^(hotfix|feat|fix|docs|style|refactor|perf|test|chore|ci)((\([^\)]*\))|)!?:\s*' {1}; then
          echo "Commit message must include conventional commit type."
          echo "Format: <type>(<scope>): <description>"
          exit 1
        fi

# Colors and output
colors: true

perf(cli): default --batch-size to 64
  cmd/xdperf/main.go
  docs/cli.md
  pkg/xdperf/config.go
  plugins/vxlan.go/README.md
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(plugins): optional outer 802.1Q VLAN tag for vxlan
  AGENTS.md
  plugins/vxlan.go/README.md
  plugins/vxlan.go/builder/builder.go
  plugins/vxlan.go/builder/builder_test.go
  plugins/vxlan.go/config.go
  plugins/vxlan.go/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(plugins): optional outer 802.1Q VLAN tag for vxlan (#89)
  AGENTS.md
  plugins/vxlan.go/README.md
  plugins/vxlan.go/builder/builder.go
  plugins/vxlan.go/builder/builder_test.go
  plugins/vxlan.go/config.go
  plugins/vxlan.go/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

build(release): package gtpv1u and vxlan plugins in goreleaser
  .goreleaser.yaml
Due: none

build(release): package gtpv1u and vxlan plugins in goreleaser (#91)
  .goreleaser.yaml
Due: none

feat(plugins): optional outer 802.1Q VLAN tag for simpleudp
  pkg/plugin/simpleudp_integration_test.go
  plugins/README.md
  plugins/simpleudp.go/config.go
  plugins/simpleudp.go/go.mod
  plugins/simpleudp.go/go.sum
  plugins/simpleudp.go/main.go
  plugins/simpleudp.go/packet.go
  plugins/simpleudp.tinygo/config.go
  plugins/simpleudp.tinygo/go.mod
  plugins/simpleudp.tinygo/main.go
  plugins/simpleudp.tinygo/packet.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(plugins): optional outer 802.1Q VLAN tag for simpleudp (#92)
  pkg/plugin/simpleudp_integration_test.go
  plugins/README.md
  plugins/simpleudp.go/config.go
  plugins/simpleudp.go/go.mod
  plugins/simpleudp.go/go.sum
  plugins/simpleudp.go/main.go
  plugins/simpleudp.go/packet.go
  plugins/simpleudp.tinygo/config.go
  plugins/simpleudp.tinygo/go.mod
  plugins/simpleudp.tinygo/main.go
  plugins/simpleudp.tinygo/packet.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: fallback to XDP generic mode when native attach fails
  pkg/xdperf/xdperf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(examples): veth-based end-to-end test scenarios with CI
  .github/workflows/examples.yaml
  AGENTS.md
  Makefile
  examples/README.md
  examples/common/netns.sh
  examples/common/test_utils.sh
  examples/common/udp_scenario.sh
  examples/common/veth.sh
  examples/run_all.sh
  examples/simpleudp-vlan/README.md
  examples/simpleudp-vlan/setup.sh
  examples/simpleudp-vlan/teardown.sh
  examples/simpleudp-vlan/test.sh
  examples/simpleudp/README.md
  examples/simpleudp/setup.sh
  examples/simpleudp/teardown.sh
  examples/simpleudp/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

feat(examples): verify veth XDP_TX peer-attach requirement
  examples/README.md
  examples/common/test_utils.sh
  examples/common/udp_scenario.sh
  examples/simpleudp-echo/README.md
  examples/simpleudp-echo/setup.sh
  examples/simpleudp-echo/teardown.sh
  examples/simpleudp-echo/test.sh
  examples/simpleudp-no-rx-attach/README.md
  examples/simpleudp-no-rx-attach/setup.sh
  examples/simpleudp-no-rx-attach/teardown.sh
  examples/simpleudp-no-rx-attach/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

docs(examples): reference kernel commits behind veth NAPI-without-XDP
  examples/README.md
  examples/common/udp_scenario.sh
  examples/simpleudp-no-rx-attach/README.md
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

refactor(examples): trim comments and translate scripts to English
  examples/common/netns.sh
  examples/common/test_utils.sh
  examples/common/udp_scenario.sh
  examples/common/veth.sh
  examples/run_all.sh
  examples/simpleudp-echo/setup.sh
  examples/simpleudp-echo/teardown.sh
  examples/simpleudp-echo/test.sh
  examples/simpleudp-no-rx-attach/setup.sh
  examples/simpleudp-no-rx-attach/teardown.sh
  examples/simpleudp-no-rx-attach/test.sh
  examples/simpleudp-vlan/setup.sh
  examples/simpleudp-vlan/teardown.sh
  examples/simpleudp-vlan/test.sh
  examples/simpleudp/setup.sh
  examples/simpleudp/teardown.sh
  examples/simpleudp/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

refactor(examples): apply cleanup review findings
  .github/workflows/examples.yaml
  examples/common/test_utils.sh
  examples/common/udp_scenario.sh
  examples/simpleudp-no-rx-attach/test.sh
  examples/simpleudp/README.md
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

fix(examples): address Copilot review findings
  Makefile
  examples/common/test_utils.sh
  examples/common/udp_scenario.sh
  examples/run_all.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(examples): harden runtime file paths and CI deb install
  .github/workflows/examples.yaml
  examples/common/test_utils.sh
  examples/common/udp_scenario.sh
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

fix(examples): clean up on attach timeout, pin tinygo checksum
  .github/workflows/examples.yaml
  examples/common/test_utils.sh
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

fix(examples): report SKIP separately, verify PID identity
  .github/workflows/examples.yaml
  examples/README.md
  examples/common/test_utils.sh
  examples/common/udp_scenario.sh
  examples/run_all.sh
  examples/simpleudp-no-rx-attach/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

fix(examples): fail fast on setup preconditions
  .github/workflows/examples.yaml
  examples/common/test_utils.sh
  examples/simpleudp-no-rx-attach/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

fix(examples): report GRO enable failure explicitly in phase 2
  examples/simpleudp-no-rx-attach/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(examples): refuse to delete a same-named non-veth interface
  examples/common/veth.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

feat(examples): veth-based end-to-end test scenarios with CI (#96)
  .github/workflows/examples.yaml
  AGENTS.md
  Makefile
  examples/README.md
  examples/common/netns.sh
  examples/common/test_utils.sh
  examples/common/udp_scenario.sh
  examples/common/veth.sh
  examples/run_all.sh
  examples/simpleudp-echo/README.md
  examples/simpleudp-echo/setup.sh
  examples/simpleudp-echo/teardown.sh
  examples/simpleudp-echo/test.sh
  examples/simpleudp-no-rx-attach/README.md
  examples/simpleudp-no-rx-attach/setup.sh
  examples/simpleudp-no-rx-attach/teardown.sh
  examples/simpleudp-no-rx-attach/test.sh
  examples/simpleudp-vlan/README.md
  examples/simpleudp-vlan/setup.sh
  examples/simpleudp-vlan/teardown.sh
  examples/simpleudp-vlan/test.sh
  examples/simpleudp/README.md
  examples/simpleudp/setup.sh
  examples/simpleudp/teardown.sh
  examples/simpleudp/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

build(deps): add OpenTelemetry SDK and OTLP gRPC metric exporter
  go.mod
  go.sum
Due: none

feat(metrics): export TX/RX and NIC statistics via OTLP push
  README.md
  cmd/xdperf/main.go
  docs/cli.md
  pkg/telemetry/telemetry.go
  pkg/telemetry/telemetry_test.go
  pkg/xdperf/config.go
  pkg/xdperf/metrics.go
  pkg/xdperf/metrics_test.go
  pkg/xdperf/stats.go
  pkg/xdperf/validate_test.go
  pkg/xdperf/xdperf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs(metrics): add Japanese OTLP metrics guide and architecture notes
  AGENTS.md
  README.md
  docs/ja/otlp_metrics.md
Due: check-executables-have-shebangs, mixed-line-ending

fix(metrics): saturate counter observations instead of wrapping negative
  pkg/xdperf/metrics.go
  pkg/xdperf/metrics_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(xdperf): release initialized resources when NewXdperf fails
  pkg/xdperf/xdperf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(metrics): OTLP push export for TX/RX and NIC statistics (#98)
  AGENTS.md
  README.md
  cmd/xdperf/main.go
  docs/cli.md
  docs/ja/otlp_metrics.md
  go.mod
  go.sum
  pkg/telemetry/telemetry.go
  pkg/telemetry/telemetry_test.go
  pkg/xdperf/config.go
  pkg/xdperf/metrics.go
  pkg/xdperf/metrics_test.go
  pkg/xdperf/stats.go
  pkg/xdperf/validate_test.go
  pkg/xdperf/xdperf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(ci): reference prod_count output in bpf generate auto-commit gate
  .github/workflows/bpf_generate.yaml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

feat(xdperf): worker RT scheduling, pacing controls, and jitter metrics
  cmd/xdperf/main.go
  pkg/xdperf/config.go
  pkg/xdperf/metrics.go
  pkg/xdperf/pacing.go
  pkg/xdperf/pacing_test.go
  pkg/xdperf/sched.go
  pkg/xdperf/stats.go
  pkg/xdperf/xdperf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(probe): environment checks for scheduling and jitter tuning
  cmd/xdperf/main.go
  pkg/probe/env.go
  pkg/probe/env_test.go
  pkg/probe/probe.go
  pkg/probe/xdp.go
  pkg/scx/detect.go
  pkg/scx/detect_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(scx): sched_ext CPU isolation for TX workers (--scx)
  .github/workflows/scx_load_test.yaml
  .gitignore
  Dockerfile.bpf
  Makefile
  cmd/xdperf/main.go
  examples/common/test_utils.sh
  examples/common/udp_scenario.sh
  examples/simpleudp-scx/README.md
  examples/simpleudp-scx/setup.sh
  examples/simpleudp-scx/teardown.sh
  examples/simpleudp-scx/test.sh
  pkg/scx/loader.go
  pkg/scx/scx.go
  pkg/scx/scx_bpfeb.go
  pkg/scx/scx_bpfeb.o
  pkg/scx/scx_bpfel.go
  pkg/scx/scx_bpfel.o
  pkg/scx/scx_test.go
  pkg/xdperf/config.go
  pkg/xdperf/xdperf.go
  scripts/scx_kernel/build.sh
  scripts/scx_kernel/config-base-6.18
  src/scx_kernel_defs.h
  src/scx_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, golangci-lint, clang-format

docs: scheduling and jitter-reduction guide, scx scheduler design
  AGENTS.md
  docs/cli.md
  docs/ja/scx_design.md
  docs/ja/src_architecture.md
  docs/ja/tips.md
  examples/README.md
Due: check-executables-have-shebangs, mixed-line-ending

fix(ci): reference prod_count output in bpf generate auto-commit gate (#99)
  .github/workflows/bpf_generate.yaml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

fix(bpf): drop unused subprog parameters to stay within 5 register args
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.o
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

ci(bpf): run BPF load test on release-candidate kernels built from source
  .github/kernel-config/ci-x86_64.config
  .github/kernel-config/ci.config
  .github/workflows/bpf_load_test.yaml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

ci(bpf): trigger load test on kernel-config changes; drop stale sort comment
  .github/kernel-config/ci.config
  .github/workflows/bpf_load_test.yaml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

ci(bpf): fail kernel download explicitly instead of piping curl into tar
  .github/workflows/bpf_load_test.yaml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

refactor(bpf): drop dead fields from csum_diff_loop_ctx
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.o
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

ci(bpf): include runner os/arch in rc-kernel cache key
  .github/workflows/bpf_load_test.yaml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending
