Repository takehaya/xdperf: changes, and which lefthook commands are due for each by the changed paths.
All: check-executables-have-shebangs, trailing-whitespace, yamllint, check-json, check-toml, mixed-line-ending, golangci-lint, clang-format

lefthook.yaml:

---
pre-commit:
  parallel: true
  commands:
    check-executables-have-shebangs:
      glob: "**/*"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          if [ -x "$file" ] && [ -f "$file" ] && ! grep -q '^#!' "$file"; then
            echo "Executable without shebang: $file"
            exit 1
          fi
        done

    trailing-whitespace:
      glob: "**/*"
      exclude:
        - "*.md"
        - "*.patch"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          if grep -q '[[:space:]]$' "$file"; then
            sed -i 's/[[:space:]]*$//' "$file"
            echo "Fixed trailing whitespace in: $file"
          fi
        done

    yamllint:
      glob: "**/*.{yml,yaml}"
      run: yamllint -f colored {staged_files}

    check-json:
      glob: "**/*.json"
      run: |
        failed=0
        for f in {staged_files}; do
          if ! jq -e empty "$f" >/dev/null 2>&1; then
            echo "JSON parse error in $f"
            jq empty "$f"
            failed=1
          fi
        done
        exit $failed

    check-toml:
      glob: "**/*.toml"
      run: taplo check {staged_files}

    mixed-line-ending:
      glob: "**/*"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          dos2unix -q "$file"
        done

    golangci-lint:
      glob: "**/*.go"
      run: golangci-lint run --fix

    clang-format:
      glob: "**/*.{c,h,cc,cpp}"
      run: clang-format -i {staged_files}

commit-msg:
  commands:
    msg-check:
      run: |
        if ! grep -qE '^(hotfix|feat|fix|docs|style|refactor|perf|test|chore|ci)((\([^\)]*\))|)!?:\s*' {1}; then
          echo "Commit message must include conventional commit type."
          echo "Format: <type>(<scope>): <description>"
          exit 1
        fi

# Colors and output
colors: true

perf: optimize XDP TX path with copy skip, checksum caching, and pre-computed bitmasks
  Dockerfile.bpf
  pkg/coreelf/bpf_bpfeb.go
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.go
  pkg/coreelf/bpf_bpfel.o
  pkg/coreelf/xdp_tx_test.go
  pkg/xdperf/bpf.go
  pkg/xdperf/bpf_test_csum.go
  src/xdp_packet.h
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

fix: prevent csum_cached on partial cache or len_changed entries
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.o
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

perf: enable checksum caching for len_changed entries (IMIX support)
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.o
  pkg/coreelf/xdp_tx_test.go
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

refactor: replace cache_one_diff switch cases with CACHE_DIFF_CASE macro
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.o
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

feat: add NUMA-aware CPU selection for worker threads
  cmd/xdperf/main.go
  pkg/numa/numa.go
  pkg/numa/numa_test.go
  pkg/xdperf/bpf.go
  pkg/xdperf/config.go
  pkg/xdperf/xdperf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: address code review findings (cpu-mode validation, diff_map cap, plugin safety)
  pkg/coreelf/elf.go
  pkg/coreelf/load_test.go
  pkg/coreelf/xdp_tx_test.go
  pkg/numa/numa.go
  pkg/numa/numa_test.go
  pkg/plugin/api.go
  pkg/plugin/generator.go
  pkg/plugin/manager.go
  pkg/plugin/manager_test.go
  pkg/plugin/types.go
  pkg/plugin/verifier.go
  pkg/xdperf/bpf.go
  pkg/xdperf/stats.go
  pkg/xdperf/validate_test.go
  pkg/xdperf/xdperf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: honor payload_size in simpleudp.tinygo plugin
  plugins/simpleudp.tinygo/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

refactor: address code review suggestions (shared checksum helper, ctx, plugin cleanups)
  cmd/xdperf/main.go
  pkg/guest/layers.go
  pkg/guest/layers_test.go
  pkg/plugin/api.go
  pkg/plugin/manager.go
  pkg/xdperf/config.go
  pkg/xdperf/packet.go
  pkg/xdperf/xdperf.go
  plugins/imixudp.go/main.go
  plugins/simpleudp.go/main.go
  plugins/simpleudp.tinygo/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

ci: stabilize golangci-lint config and add allow-failure Linux 7.x kernel test
  .github/workflows/bpf_load_test.yaml
  .golangci.yml
  README.md
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

fix: split len_changed checksum path to fit BPF verifier limit on Linux 7.x
  .github/workflows/bpf_load_test.yaml
  README.md
  pkg/coreelf/bpf_bpfeb.go
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.go
  pkg/coreelf/bpf_bpfel.o
  pkg/coreelf/elf.go
  pkg/coreelf/load_test.go
  pkg/coreelf/xdp_tx_test.go
  src/xdp_packet.h
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, golangci-lint, clang-format

docs: fix inaccurate comments flagged in Copilot review
  pkg/coreelf/xdp_tx_test.go
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

ci: pin golangci-lint to v2 in install script
  scripts/install_lint_tools.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

feat(vmlab): add self-contained VM-to-VM QEMU test lab
  .gitignore
  Makefile
  scripts/vmlab/README.md
  scripts/vmlab/cloud-init/network-config
  scripts/vmlab/cloud-init/user-data
  scripts/vmlab/vmlab.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

docs(benchmark): add 100G real-NIC XDP one-way/round-trip benchmark
  docs/ja/benchmark_realnic.md
  docs/ja/imgs/bench_roundtrip.png
  docs/ja/imgs/bench_rt_cores.png
  docs/ja/scripts/plot_benchmark.py
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(vmlab,benchmark): address review feedback
  docs/ja/benchmark_realnic.md
  docs/ja/imgs/bench_rt_cores.png
  docs/ja/scripts/plot_benchmark.py
  scripts/vmlab/vmlab.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(vmlab): harden host-state handling per review
  scripts/vmlab/README.md
  scripts/vmlab/vmlab.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(vmlab,benchmark): clarify counters and chart legends per review
  docs/ja/imgs/bench_roundtrip.png
  docs/ja/imgs/bench_rt_cores.png
  docs/ja/scripts/plot_benchmark.py
  scripts/vmlab/vmlab.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(vmlab,benchmark): safer up/down lifecycle and hugepage/deps notes
  docs/ja/benchmark_realnic.md
  docs/ja/scripts/plot_benchmark.py
  scripts/vmlab/vmlab.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(vmlab,benchmark): tap ownership guard, pmd-mask normalize, chart consistency
  docs/ja/imgs/bench_roundtrip.png
  docs/ja/imgs/bench_rt_cores.png
  docs/ja/scripts/plot_benchmark.py
  scripts/vmlab/vmlab.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(vmlab): guard OVS bridge / hugepage dir ownership and verify PID before kill
  scripts/vmlab/vmlab.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(vmlab): validate queue settings and bound the cloud-init wait
  scripts/vmlab/vmlab.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(vmlab): reject unknown VMLAB_DATA_LINK instead of silently using socket
  scripts/vmlab/vmlab.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(vmlab,benchmark): clearer no-match counter output and wording
  docs/ja/benchmark_realnic.md
  scripts/vmlab/vmlab.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(vmlab): create CACHE_DIR before generating the SSH key
  scripts/vmlab/vmlab.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(vmlab): treat only timeout(124) as expected in the demo send
  scripts/vmlab/vmlab.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(vmlab): clean build_seed tmpdir on error via subshell EXIT trap
  scripts/vmlab/vmlab.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(vmlab,benchmark): widen xdp_tx counter regex and derive wire-rate line
  docs/ja/scripts/plot_benchmark.py
  scripts/vmlab/vmlab.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(vmlab): match the qemu -name flag when verifying the PID to kill
  scripts/vmlab/vmlab.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

feat: VM-to-VM lab and 100G real-NIC XDP benchmark (#84)
  .gitignore
  Makefile
  docs/ja/benchmark_realnic.md
  docs/ja/imgs/bench_roundtrip.png
  docs/ja/imgs/bench_rt_cores.png
  docs/ja/scripts/plot_benchmark.py
  scripts/vmlab/README.md
  scripts/vmlab/cloud-init/network-config
  scripts/vmlab/cloud-init/user-data
  scripts/vmlab/vmlab.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

refactor(bpf): drop the in-tree xdpcap hook, capture via xdp-ninja
  cmd/xdperf/main.go
  pkg/coreelf/bpf_bpfeb.go
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.go
  pkg/coreelf/bpf_bpfel.o
  pkg/coreelf/load_test.go
  pkg/guest/surface.go
  pkg/xdperf/config.go
  pkg/xdperf/xdperf.go
  src/xdp_prog.c
  src/xdp_prog.h
  src/xdpcap.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

feat(plugins): add gtpv1u GTP-U (5G/4G) traffic plugin
  .gitignore
  pkg/plugin/gtpv1u_integration_test.go
  plugins/README.md
  plugins/gtpv1u.go/README.md
  plugins/gtpv1u.go/builder/builder.go
  plugins/gtpv1u.go/builder/builder_test.go
  plugins/gtpv1u.go/config.go
  plugins/gtpv1u.go/go.mod
  plugins/gtpv1u.go/go.sum
  plugins/gtpv1u.go/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(plugins): address gtpv1u review feedback
  pkg/plugin/gtpv1u_integration_test.go
  plugins/README.md
  plugins/gtpv1u.go/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(plugins): reject reversed gtpv1u ranges, sweep inner port from inner_src_port
  plugins/gtpv1u.go/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(plugins): validate gtpv1u pdu_type and inner_proto
  plugins/gtpv1u.go/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs: document --cpu-mode and xdp-ninja capture; add JP perf/architecture notes
  docs/cli.md
  docs/ja/performance_optimization_plan.md
  docs/ja/src_architecture.md
  docs/ja/tips.md
Due: check-executables-have-shebangs, mixed-line-ending

docs: make AGENTS.md the canonical guide; slim CLAUDE.md to a pointer
  AGENTS.md
  CLAUDE.md
  plugins/README.md
Due: check-executables-have-shebangs, mixed-line-ending

feat(plugins): add VXLAN (RFC 7348) traffic plugin
  AGENTS.md
  pkg/plugin/vxlan_integration_test.go
  plugins/README.md
  plugins/vxlan.go/README.md
  plugins/vxlan.go/builder/builder.go
  plugins/vxlan.go/builder/builder_test.go
  plugins/vxlan.go/config.go
  plugins/vxlan.go/go.mod
  plugins/vxlan.go/go.sum
  plugins/vxlan.go/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

refactor(plugins): simplify vxlan plugin internals
  plugins/vxlan.go/builder/builder.go
  plugins/vxlan.go/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint
