Repository takehaya/xdperf: changes, and which lefthook commands are due for each by the changed paths.
All: check-executables-have-shebangs, trailing-whitespace, yamllint, check-json, check-toml, mixed-line-ending, golangci-lint, clang-format

lefthook.yaml:

---
pre-commit:
  parallel: true
  commands:
    check-executables-have-shebangs:
      glob: "**/*"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          if [ -x "$file" ] && [ -f "$file" ] && ! grep -q '^#!' "$file"; then
            echo "Executable without shebang: $file"
            exit 1
          fi
        done

    trailing-whitespace:
      glob: "**/*"
      exclude:
        - "*.md"
        - "*.patch"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          if grep -q '[[:space:]]$' "$file"; then
            sed -i 's/[[:space:]]*$//' "$file"
            echo "Fixed trailing whitespace in: $file"
          fi
        done

    yamllint:
      glob: "**/*.{yml,yaml}"
      run: yamllint -f colored {staged_files}

    check-json:
      glob: "**/*.json"
      run: |
        failed=0
        for f in {staged_files}; do
          if ! jq -e empty "$f" >/dev/null 2>&1; then
            echo "JSON parse error in $f"
            jq empty "$f"
            failed=1
          fi
        done
        exit $failed

    check-toml:
      glob: "**/*.toml"
      run: taplo check {staged_files}

    mixed-line-ending:
      glob: "**/*"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          dos2unix -q "$file"
        done

    golangci-lint:
      glob: "**/*.go"
      run: golangci-lint run --fix

    clang-format:
      glob: "**/*.{c,h,cc,cpp}"
      run: clang-format -i {staged_files}

commit-msg:
  commands:
    msg-check:
      run: |
        if ! grep -qE '^(hotfix|feat|fix|docs|style|refactor|perf|test|chore|ci)((\([^\)]*\))|)!?:\s*' {1}; then
          echo "Commit message must include conventional commit type."
          echo "Format: <type>(<scope>): <description>"
          exit 1
        fi

# Colors and output
colors: true

refactor: use calc_ipv4_header_csum
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.o
  src/xdp_checksum.h
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

fix: calc checksum algorithm
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.o
  src/xdp_checksum.h
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

fix: update Go version to 1.26.0
  go.mod
Due: none

fix: srv6 checksum handling
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.o
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

chore: fix goreleaser version
  scripts/install_build_tools.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix: use go releaaser v2.13.3
  go.mod
  scripts/install_build_tools.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix: adjust SRH header size and loading logic in ipv6_find_transport
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.o
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

fix: add boundary check
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.o
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

feat: add test e2e variety plugin
  plugins/test_e2e_variety.go/config.go
  plugins/test_e2e_variety.go/go.mod
  plugins/test_e2e_variety.go/go.sum
  plugins/test_e2e_variety.go/main.go
  plugins/test_e2e_variety.go/packets/arp.go
  plugins/test_e2e_variety.go/packets/common.go
  plugins/test_e2e_variety.go/packets/eapol.go
  plugins/test_e2e_variety.go/packets/icmp.go
  plugins/test_e2e_variety.go/packets/ipv4_udp.go
  plugins/test_e2e_variety.go/packets/ipv6_udp.go
  plugins/test_e2e_variety.go/packets/lldp.go
  plugins/test_e2e_variety.go/packets/mpls.go
  plugins/test_e2e_variety.go/packets/raw.go
  plugins/test_e2e_variety.go/packets/registry.go
  plugins/test_e2e_variety.go/packets/srv6.go
  plugins/test_e2e_variety.go/packets/tcp.go
  plugins/test_e2e_variety.go/packets/vlan.go
  plugins/test_e2e_variety.go/packets/vpn.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

chore: remove obvious comments
  plugins/test_e2e_variety.go/packets/arp.go
  plugins/test_e2e_variety.go/packets/eapol.go
  plugins/test_e2e_variety.go/packets/icmp.go
  plugins/test_e2e_variety.go/packets/ipv4_udp.go
  plugins/test_e2e_variety.go/packets/ipv6_udp.go
  plugins/test_e2e_variety.go/packets/lldp.go
  plugins/test_e2e_variety.go/packets/mpls.go
  plugins/test_e2e_variety.go/packets/raw.go
  plugins/test_e2e_variety.go/packets/srv6.go
  plugins/test_e2e_variety.go/packets/tcp.go
  plugins/test_e2e_variety.go/packets/vlan.go
  plugins/test_e2e_variety.go/packets/vpn.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

chore: remove mpls
  plugins/test_e2e_variety.go/config.go
  plugins/test_e2e_variety.go/packets/mpls.go
  plugins/test_e2e_variety.go/packets/registry.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: remove unreachable code
  plugins/test_e2e_variety.go/packets/arp.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

chore: remove simple srv6
  plugins/test_e2e_variety.go/config.go
  plugins/test_e2e_variety.go/packets/registry.go
  plugins/test_e2e_variety.go/packets/srv6.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

chore: add README for test_e2e_variety.go
  plugins/test_e2e_variety.go/README.md
Due: check-executables-have-shebangs, mixed-line-ending

fix: update unnatural packet generation
  plugins/test_e2e_variety.go/README.md
  plugins/test_e2e_variety.go/packets/arp.go
  plugins/test_e2e_variety.go/packets/eapol.go
  plugins/test_e2e_variety.go/packets/lldp.go
  plugins/test_e2e_variety.go/packets/tcp.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: add packets incluiding payload to tcp example
  plugins/test_e2e_variety.go/main.go
  plugins/test_e2e_variety.go/packets/common.go
  plugins/test_e2e_variety.go/packets/tcp.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: revert dstMAC update
  plugins/test_e2e_variety.go/packets/eapol.go
  plugins/test_e2e_variety.go/packets/lldp.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: use IPv4ToUint64 for readability
  plugins/test_e2e_variety.go/packets/arp.go
  plugins/test_e2e_variety.go/packets/common.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

chore: fix format
  plugins/test_e2e_variety.go/packets/registry.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

chore: fix logging format in main
  plugins/test_e2e_variety.go/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: update goreleaser to release new plugins
  .goreleaser.yaml
Due: none

refactor: split vpn.go to 2 files
  plugins/test_e2e_variety.go/packets/vpn_mpls.go
  plugins/test_e2e_variety.go/packets/vpn_srv6.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: update other plugins
  plugins/imixudp.go/main.go
  plugins/simpleudp.go/main.go
  plugins/simpleudp.tinygo/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

chore: fix format
  plugins/imixudp.go/main.go
  plugins/simpleudp.tinygo/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: use istrings.EqualFold for "all" param
  plugins/test_e2e_variety.go/config.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: use lower in GetProtocolsToInclude
  plugins/test_e2e_variety.go/config.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

chore: tuning xdperf docs and verifier log
  Dockerfile.bpf
  docs/ja/tips.md
  pkg/coreelf/elf.go
  pkg/xdperf/xdperf.go
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

chore: modify text
  docs/ja/tips.md
Due: check-executables-have-shebangs, mixed-line-ending

docs: add multi-kernel test instructions to README
  README.md
Due: none

refactor: simplify verifier log to debug-only mode to prevent OOM
  pkg/coreelf/elf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

test: add multi-kernel BPF load test with CI matrix
  .github/workflows/bpf_load_test.yaml
  .vimto.toml
  Makefile
  pkg/coreelf/load_test.go
  src/xdp_packet.h
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, golangci-lint, clang-format

perf: optimize BPF program for verifier compatibility and reduced states
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.o
  plugins/simpleudp.go/main.go
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

fix: verfier BPF program is too large error
  pkg/coreelf/bpf_bpfeb.go
  pkg/coreelf/bpf_bpfel.go
  pkg/coreelf/elf.go
  src/xdp_packet.h
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

fix: update max diff to 6
  pkg/coreelf/bpf_bpfeb.go
  pkg/coreelf/bpf_bpfel.go
  src/xdp_packet.h
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

fix: error handling for missing XDP programs in ReadCollection
  pkg/coreelf/elf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: update MAX_CHECKSUM_ENTRIES from 2 to 4
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.o
  src/xdp_packet.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

fix: use bpf_loop for incremental checksum diff to avoid verifier limit
  pkg/coreelf/bpf_bpfeb.go
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.go
  pkg/coreelf/bpf_bpfel.o
  src/xdp_packet.h
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

fix: address PR review — propagate bpf_loop callback error and simplify nil guards
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.o
  pkg/coreelf/elf.go
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

perf: add wazero CompilationCache for faster WASM plugin startup
  cmd/xdperf/main.go
  pkg/plugin/manager.go
  pkg/xdperf/config.go
  pkg/xdperf/xdperf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint
