Repository takehaya/xdperf: changes, and which lefthook commands are due for each by the changed paths.
All: check-executables-have-shebangs, trailing-whitespace, yamllint, check-json, check-toml, mixed-line-ending, golangci-lint, clang-format

check-executables-have-shebangs:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  if [ -x \"$file\" ] && [ -f \"$file\" ] && ! grep -q '^#!' \"$file\"; then\n    echo \"Executable without shebang: $file\"\n    exit 1\n  fi\ndone\n"

trailing-whitespace:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  if grep -q '[[:space:]]$' \"$file\"; then\n    sed -i 's/[[:space:]]*$//' \"$file\"\n    echo \"Fixed trailing whitespace in: $file\"\n  fi\ndone\n"

yamllint:
  run: yamllint -f colored {staged_files}

check-json:
  run: "failed=0\nfor f in {staged_files}; do\n  if ! jq -e empty \"$f\" >/dev/null 2>&1; then\n    echo \"JSON parse error in $f\"\n    jq empty \"$f\"\n    failed=1\n  fi\ndone\nexit $failed\n"

check-toml:
  run: taplo check {staged_files}

mixed-line-ending:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  dos2unix -q \"$file\"\ndone\n"

golangci-lint:
  run: golangci-lint run --fix

clang-format:
  run: clang-format -i {staged_files}

feat: remove pkt_offset_map and update tx override logic for per-CPU packet handling
  pkg/coreelf/bpf_bpfeb.go
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.go
  pkg/coreelf/bpf_bpfel.o
  pkg/xdperf/bpf.go
  plugins/simpleudp.tinygo/main.go
  src/xdp_prog.c
  src/xdp_prog.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

feat: implement weighted random selection for packet variants in response generation
  pkg/xdperf/template.go
  plugins/simpleudp.tinygo/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: add LengthRange to PacketVariant for variable packet size
  pkg/guest/surface.go
  pkg/xdperf/template.go
  plugins/simpleudp.tinygo/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: refactor packet length update to use gopacket for header management
  pkg/xdperf/template.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: add random pattern support for packet parameters
  pkg/guest/surface.go
  pkg/xdperf/template.go
  plugins/simpleudp.tinygo/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: implement variable packet length control using ByteStartPacketLength
  pkg/guest/surface.go
  pkg/xdperf/template.go
  plugins/simpleudp.tinygo/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: update pattern type references from random to mixed for weighted selection
  pkg/guest/surface.go
  pkg/xdperf/template.go
  pkg/xdperf/template_test.go
  plugins/simpleudp.tinygo/main.go
  src/xdp_prog.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

feat: log TX packet processing start in runTXPacket method
  pkg/xdperf/xdperf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: implement pkt_state management for per-CPU packet handling
  pkg/coreelf/bpf_bpfeb.go
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.go
  pkg/coreelf/bpf_bpfel.o
  pkg/xdperf/bpf.go
  src/xdp_prog.c
  src/xdp_prog.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

fix: add param for go plugin case
  pkg/plugin/goshim.go
  pkg/plugin/manager.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

chore: delete redundant codes
  pkg/xdperf/bpf.go
  pkg/xdperf/template.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: replace runtime.NumCPU with ebpf.PossibleCPU for accurate CPU count
  pkg/xdperf/config.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

chore: log warning for invalid parallelism configuration in initEbpfMap
  pkg/xdperf/bpf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: handle zero packet count in xdp_tx to prevent processing errors
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

chore: revert unnececsary diff in config.go
  plugins/simpleudp.tinygo/config.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

chore: update object files
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.o
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

chore: fix unneccesary diff in config.go
  plugins/simpleudp.tinygo/config.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: fix to use req.PayloadSize in plugin
  plugins/simpleudp.tinygo/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: handle unsupported variant selection pattern in convVariableTemplate
  pkg/xdperf/template.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

chore: remove unnecessary nest
  pkg/xdperf/template.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: improve error handling in convVariableTemplate
  pkg/xdperf/template.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: add ICMPv6 support in updatePacketLength for checksum calculation
  pkg/xdperf/template.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: update variable types to uint64
  pkg/guest/surface.go
  pkg/xdperf/template.go
  pkg/xdperf/template_test.go
  plugins/simpleudp.tinygo/config.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

chore: remove unneccesary diff
  plugins/simpleudp.tinygo/config.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: add guest lib for neighborResolveFunc
  README.md
  go.mod
  go.sum
  pkg/guest/api.go
  pkg/guest/surface.go
  pkg/plugin/api.go
  pkg/plugin/manager.go
  pkg/xdperf/xdperf.go
  plugins/simpleudp.go/main.go
  plugins/simpleudp.tinygo/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: modify to update checksum when IP addr are changed
  pkg/xdperf/template.go
  pkg/xdperf/template_test.go
  plugins/simpleudp.tinygo/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

ci: add goreleaser settings
  .goreleaser.yaml
Due: none

ci: add build tool
  .github/workflows/release.yaml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

fix: ci code
  .goreleaser.yaml
Due: none

fix: pkt entry size and lookup mac logic
  README.md
  go.mod
  go.sum
  pkg/coreelf/bpf_bpfeb.go
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.go
  pkg/coreelf/bpf_bpfel.o
  pkg/coreelf/elf.go
  pkg/guest/api.go
  plugins/simpleudp.go/main.go
  plugins/simpleudp.tinygo/main.go
  src/xdp_prog.c
  src/xdp_prog.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

chore: modify install script
  README.md
  scripts/install_xdperf.sh
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

fix: add xdp_utils
  src/xdp_utils.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

chore: add server mode
  cmd/xdperf/main.go
  pkg/coreelf/bpf_bpfeb.go
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.go
  pkg/coreelf/bpf_bpfel.o
  pkg/coreelf/elf.go
  pkg/xdperf/config.go
  pkg/xdperf/server.go
  pkg/xdperf/stats.go
  pkg/xdperf/xdperf.go
  src/xdp_prog.c
  src/xdp_prog.h
  src/xdp_utils.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

chore: when run server mode, wasm plugin is ignore
  README.md
  pkg/xdperf/server.go
  pkg/xdperf/stats.go
  pkg/xdperf/xdperf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: add send/recv counter mode
  README.md
  cmd/xdperf/main.go
  pkg/xdperf/config.go
  pkg/xdperf/stats.go
  pkg/xdperf/xdperf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: add pps param
  cmd/xdperf/main.go
  pkg/xdperf/config.go
  pkg/xdperf/pps.go
  pkg/xdperf/pps_test.go
  pkg/xdperf/stats.go
  pkg/xdperf/xdperf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: fix count and pps parsing and validation
  cmd/xdperf/main.go
  pkg/xdperf/pps.go
  pkg/xdperf/pps_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: add option to show NIC-level statistics
  cmd/xdperf/main.go
  pkg/xdperf/config.go
  pkg/xdperf/stats.go
  pkg/xdperf/xdperf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

chore: fix inproper error handling
  cmd/xdperf/main.go
  pkg/xdperf/config.go
  pkg/xdperf/stats.go
  pkg/xdperf/xdperf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: remove redundant args
  cmd/xdperf/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

Path conditions:
  check-executables-have-shebangs: any of: **/*
  trailing-whitespace: any of: **/*, but not: *.md, *.patch
  yamllint: any of: **/*.{yml,yaml}
  check-json: any of: **/*.json
  check-toml: any of: **/*.toml
  mixed-line-ending: any of: **/*
  golangci-lint: any of: **/*.go
  clang-format: any of: **/*.{c,h,cc,cpp}
