Repository takehaya/xdperf: changes, and which lefthook commands are due for each by the changed paths.
All: check-executables-have-shebangs, trailing-whitespace, yamllint, check-json, check-toml, mixed-line-ending, golangci-lint, clang-format

lefthook.yaml:

---
pre-commit:
  parallel: true
  commands:
    check-executables-have-shebangs:
      glob: "**/*"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          if [ -x "$file" ] && [ -f "$file" ] && ! grep -q '^#!' "$file"; then
            echo "Executable without shebang: $file"
            exit 1
          fi
        done

    trailing-whitespace:
      glob: "**/*"
      exclude:
        - "*.md"
        - "*.patch"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          if grep -q '[[:space:]]$' "$file"; then
            sed -i 's/[[:space:]]*$//' "$file"
            echo "Fixed trailing whitespace in: $file"
          fi
        done

    yamllint:
      glob: "**/*.{yml,yaml}"
      run: yamllint -f colored {staged_files}

    check-json:
      glob: "**/*.json"
      run: |
        failed=0
        for f in {staged_files}; do
          if ! jq -e empty "$f" >/dev/null 2>&1; then
            echo "JSON parse error in $f"
            jq empty "$f"
            failed=1
          fi
        done
        exit $failed

    check-toml:
      glob: "**/*.toml"
      run: taplo check {staged_files}

    mixed-line-ending:
      glob: "**/*"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          dos2unix -q "$file"
        done

    golangci-lint:
      glob: "**/*.go"
      run: golangci-lint run --fix

    clang-format:
      glob: "**/*.{c,h,cc,cpp}"
      run: clang-format -i {staged_files}

commit-msg:
  commands:
    msg-check:
      run: |
        if ! grep -qE '^(hotfix|feat|fix|docs|style|refactor|perf|test|chore|ci)((\([^\)]*\))|)!?:\s*' {1}; then
          echo "Commit message must include conventional commit type."
          echo "Format: <type>(<scope>): <description>"
          exit 1
        fi

# Colors and output
colors: true

chore: add comments for supported checksum types
  pkg/guest/surface.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

chore: update go to 1.25.5
  go.mod
Due: none

fix: make checksum metadata to PERCPU array
  src/xdp_packet.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

feat: implement geneator
  pkg/xdperf/generator.go
  pkg/xdperf/generator_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: add start and end validation
  pkg/xdperf/generator.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

chore: add unit tests
  pkg/xdperf/generator_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: introduce isAllowedByteSize function
  pkg/xdperf/generator.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

chore: use fixed seed for generator_test.go
  pkg/xdperf/generator.go
  pkg/xdperf/generator_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: add diff calc logic to bpf
  pkg/coreelf/bpf_bpfeb.go
  pkg/coreelf/bpf_bpfel.go
  pkg/xdperf/stats.go
  src/xdp_prog.c
  src/xdp_prog.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

chore: modify not to use magic numbers
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.o
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

fix: add boundary checks for target length in update_packet_lengths function
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.o
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

fix: validate l3_offset after VLAN parsing in update_packet_lengths function
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.o
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

chore: update comments
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

fix: modify apply_diff function to handle sizes 6 and 8 with proper error handling
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.o
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

fix: update isAllowedByteSize function to use slices.Contains for validation
  pkg/xdperf/generator.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: refactor apply_diff function to validate diff sizes to reduce redundancy
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.o
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

fix: update return values in apply_diff and recalc_checksum functions for better error handling
  src/xdp_prog.c
  src/xdp_prog.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

fix: refactor recalc_checksum and diff_affects_checksum functions to check whether it is ipv4 header or not
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.o
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

fix: checksum calculation for diff sizes 4, 6, and 8 with offset handling
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.o
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

fix: add TODO comments for unsupported IPv6 extension headers in checksum calculations
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.o
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

refactor: use builtin memcpy for simplification
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.o
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

refactor: use bool instead of macro
  src/xdp_prog.c
  src/xdp_prog.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

fix: make initChecksumMetaMaps PER CPU ARRAY
  pkg/xdperf/bpf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

refactor: xdperf packet generation and XDP program
  pkg/coreelf/bpf_bpfeb.go
  pkg/coreelf/bpf_bpfel.go
  pkg/coreelf/elf.go
  pkg/xdperf/bpf.go
  pkg/xdperf/template.go
  pkg/xdperf/template_test.go
  pkg/xdperf/xdperf.go
  src/xdp_prog.c
  src/xdp_prog.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

fix: build error
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.o
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

fix: rename MAX_TEMPLATE_SIZE to MAX_PACKET_SIZE
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.o
  src/xdp_packet.h
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

chore: update incorrect comments
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

chore: add blank line
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

refactor: use table based implementation
  pkg/xdperf/bpf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

refactor: load consts dynamically
  pkg/coreelf/bpf_bpfeb.go
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.go
  pkg/coreelf/bpf_bpfel.o
  pkg/coreelf/elf.go
  pkg/xdperf/bpf.go
  pkg/xdperf/generator.go
  pkg/xdperf/generator_test.go
  pkg/xdperf/xdperf.go
  src/xdp_packet.h
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

ci: add codecov
  .github/workflows/test.yaml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

ci: update go version
  go.mod
  mise.toml
Due: none

fix: add ICMPv4 checksum calculation support
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.o
  src/xdp_checksum.h
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

refactor: xdperf packet generation and XDP program
  pkg/xdperf/xdperf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: add test_udp tinygo plugin
  plugins/test_udp.tinygo/go.mod
  plugins/test_udp.tinygo/go.sum
  plugins/test_udp.tinygo/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: add config.go and packet.go
  plugins/test_udp.tinygo/config.go
  plugins/test_udp.tinygo/packet.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: add test_udp.go
  plugins/test_udp.go/config.go
  plugins/test_udp.go/go.mod
  plugins/test_udp.go/go.sum
  plugins/test_udp.go/main.go
  plugins/test_udp.go/packet.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

chore: remove test_udp.tinygo
  plugins/test_udp.tinygo/config.go
  plugins/test_udp.tinygo/go.mod
  plugins/test_udp.tinygo/go.sum
  plugins/test_udp.tinygo/main.go
  plugins/test_udp.tinygo/packet.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: use bpf_loop in ICMPv4 checksum calculation
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.o
  src/xdp_checksum.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format
