Repository takehaya/xdperf: changes, and which lefthook commands are due for each by the changed paths.
All: check-executables-have-shebangs, trailing-whitespace, yamllint, check-json, check-toml, mixed-line-ending, golangci-lint, clang-format

check-executables-have-shebangs:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  if [ -x \"$file\" ] && [ -f \"$file\" ] && ! grep -q '^#!' \"$file\"; then\n    echo \"Executable without shebang: $file\"\n    exit 1\n  fi\ndone\n"

trailing-whitespace:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  if grep -q '[[:space:]]$' \"$file\"; then\n    sed -i 's/[[:space:]]*$//' \"$file\"\n    echo \"Fixed trailing whitespace in: $file\"\n  fi\ndone\n"

yamllint:
  run: yamllint -f colored {staged_files}

check-json:
  run: "failed=0\nfor f in {staged_files}; do\n  if ! jq -e empty \"$f\" >/dev/null 2>&1; then\n    echo \"JSON parse error in $f\"\n    jq empty \"$f\"\n    failed=1\n  fi\ndone\nexit $failed\n"

check-toml:
  run: taplo check {staged_files}

mixed-line-ending:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  dos2unix -q \"$file\"\ndone\n"

golangci-lint:
  run: golangci-lint run --fix

clang-format:
  run: clang-format -i {staged_files}

chore: add editor config
  .editorconfig
Due: none

chore: remark wip
  README.md
Due: none

test: add test ci
  .github/workflows/test.yaml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

chore: add flags
  cmd/xdperf/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: add logger pkg
  cmd/xdperf/main.go
  go.mod
  go.sum
  pkg/logger/logger.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: add wasm plugin system
  Makefile
  README.md
  cmd/xdperf/main.go
  go.mod
  go.sum
  pkg/logger/logger.go
  pkg/plugin/generator.go
  pkg/plugin/manager.go
  pkg/plugin/types.go
  pkg/plugin/verifier.go
  pkg/xdperf/xdperf.go
  plugins/hello/hello.wasm
  plugins/hello/main.go
  scripts/install_build_tools.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

test: add test lint dep
  .github/workflows/test.yaml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

feat: add simpleudp pkt plugin
  Makefile
  README.md
  go.mod
  go.sum
  pkg/xdperf/xdperf.go
  plugins/hello/hello.wasm
  plugins/simpleudp/config.go
  plugins/simpleudp/go.mod
  plugins/simpleudp/go.sum
  plugins/simpleudp/main.go
  plugins/simpleudp/packet.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: add ebpf load and run
  README.md
  cmd/xdperf/main.go
  go.mod
  go.sum
  pkg/coreelf/bpf_bpfeb.go
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.go
  pkg/coreelf/bpf_bpfel.o
  pkg/coreelf/elf.go
  pkg/xdperf/bpf.go
  pkg/xdperf/config.go
  pkg/xdperf/packet.go
  pkg/xdperf/stats.go
  pkg/xdperf/xdperf.go
  plugins/simpleudp/config.go
  plugins/simpleudp/main.go
  src/xdp_prog.c
  src/xdp_prog.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

chore: fmt c code
  src/xdp_prog.c
  src/xdp_prog.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

chore: tiny update
  cmd/xdperf/main.go
  pkg/xdperf/bpf.go
  pkg/xdperf/xdperf.go
  plugins/simpleudp/config.go
  plugins/simpleudp/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: add plugin docs and sdk
  README.md
  pkg/plugin/manager.go
  plugins/README.md
  plugins/simpleudp/main.go
  plugins/simpleudp/sdk.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

chore: add parse json
  cmd/xdperf/main.go
  go.mod
  go.sum
  pkg/xdperf/config.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

chore: add goreleaser
  .goreleaser.yaml
  Makefile
  plugins/simpleudp/main.go
  plugins/simpleudp/sdk.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

ci: add release please
  .github/workflows/release.yaml
  .release-please-manifest.json
  release-please-config.json
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

ci: tiny fix branch name
  .github/workflows/release.yaml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

chore: set init version for 0.0.1
  .release-please-manifest.json
Due: none

chore: add xdperf installer script and docs
  README.md
  cmd/xdperf/main.go
  scripts/install_xdperf.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: bpf gen build
  .github/workflows/release.yaml
  Dockerfile.bpf
  src/xdp_prog.h
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, clang-format

fix: add build flag
  .github/workflows/release.yaml
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.o
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

fix: bpf verifyer bug fix
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.o
  scripts/install_dev_tools.sh
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

chore: add debug print option for bpf
  README.md
  src/xdp_prog.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

chore: out bpf gen
  .github/workflows/bpf_generate.yaml
  .github/workflows/release.yaml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

chore: split target options
  Makefile
Due: none

chore: add output iface
  pkg/xdperf/bpf.go
  pkg/xdperf/xdperf.go
  src/xdp_prog.c
  src/xdp_prog.h
  src/xdpcap.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

chore: tiny fix
  pkg/coreelf/bpf_bpfeb.go
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.go
  pkg/coreelf/bpf_bpfel.o
  plugins/simpleudp/main.go
  src/xdp_prog.c
  src/xdp_prog.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

chore: apply lint
  src/xdp_prog.c
  src/xdp_prog.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

feat: add dummy xdp prog attach and add tips
  .gitignore
  docs/ja/tips.md
  pkg/coreelf/bpf_bpfeb.go
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.go
  pkg/coreelf/bpf_bpfel.o
  pkg/xdperf/xdperf.go
  plugins/simpleudp/main.go
  src/xdp_prog.c
  src/xdp_prog.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

refactor: add clang-fmt conf and fmt
  .clang-format
  src/xdp_prog.c
  src/xdp_prog.h
  src/xdpcap.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

refactor: move to guest api file
  Makefile
  pkg/guest/go.mod
  pkg/guest/surface.go
  pkg/plugin/manager.go
  pkg/xdperf/xdperf.go
  plugins/README.md
  plugins/simpleudp.go/config.go
  plugins/simpleudp.go/go.mod
  plugins/simpleudp.go/go.sum
  plugins/simpleudp.go/main.go
  plugins/simpleudp.go/packet.go
  plugins/simpleudp.go/sdk.go
  plugins/simpleudp.tinygo/config.go
  plugins/simpleudp.tinygo/go.mod
  plugins/simpleudp.tinygo/go.sum
  plugins/simpleudp.tinygo/main.go
  plugins/simpleudp.tinygo/packet.go
  plugins/simpleudp.tinygo/sdk.go
  plugins/simpleudp/config.go
  plugins/simpleudp/go.mod
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: count param behavior
  pkg/coreelf/bpf_bpfeb.go
  pkg/coreelf/bpf_bpfel.go
  pkg/xdperf/bpf.go
  pkg/xdperf/stats.go
  pkg/xdperf/xdperf.go
  plugins/simpleudp/config.go
  plugins/simpleudp/main.go
  src/xdp_prog.c
  src/xdp_prog.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

fix: remove parallelism parameter from initTxOverrideMap and initEbpfMap
  pkg/xdperf/bpf.go
  pkg/xdperf/xdperf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: add a new plugin iface define
  lefthook.yaml
  pkg/guest/surface.go
  pkg/plugin/manager.go
  plugins/README.md
  plugins/simpleudp.go/README.md
  plugins/simpleudp.tinygo/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

chore: remove release for bpf build
  .github/workflows/release.yaml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

feat: add debug log option
  cmd/xdperf/main.go
  go.mod
  pkg/plugin/generator.go
  pkg/xdperf/config.go
  pkg/xdperf/xdperf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

refactor: modify all logic
  cmd/xdperf/main.go
  go.mod
  go.sum
  pkg/guest/go.mod
  pkg/guest/go.sum
  pkg/guest/goshim/dummy.go
  pkg/guest/goshim/goshim.go
  pkg/guest/goshim/mem.go
  pkg/guest/memutils.go
  pkg/guest/surface.go
  pkg/plugin/api.go
  pkg/plugin/generator.go
  pkg/plugin/goshim.go
  pkg/plugin/manager.go
  pkg/plugin/verifier.go
  pkg/xdperf/config.go
  pkg/xdperf/xdperf.go
  plugins/simpleudp.go/config.go
  plugins/simpleudp.go/go.mod
  plugins/simpleudp.go/main.go
  plugins/simpleudp.go/packet.go
  plugins/simpleudp.go/sdk.go
  plugins/simpleudp.tinygo/main.go
  plugins/simpleudp.tinygo/sdk.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: use go plugin
  Makefile
  pkg/guest/api.go
  pkg/plugin/goshim.go
  plugins/simpleudp.go/config.go
  plugins/simpleudp.go/main.go
  plugins/simpleudp.go/sdk.go
  plugins/simpleudp.tinygo/config.go
  plugins/simpleudp.tinygo/main.go
  plugins/simpleudp.tinygo/sdk.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: add pkt_offset_map and enhance packet distribution logic
  pkg/coreelf/bpf_bpfeb.go
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.go
  pkg/coreelf/bpf_bpfel.o
  pkg/xdperf/bpf.go
  pkg/xdperf/template.go
  plugins/simpleudp.tinygo/main.go
  src/xdp_prog.c
  src/xdp_prog.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

feat: handle variable packet templates
  pkg/coreelf/bpf_bpfeb.go
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.go
  pkg/coreelf/bpf_bpfel.o
  pkg/xdperf/bpf.go
  pkg/xdperf/template.go
  pkg/xdperf/template_test.go
  pkg/xdperf/xdperf.go
  plugins/simpleudp.tinygo/config.go
  plugins/simpleudp.tinygo/main.go
  src/xdp_prog.c
  src/xdp_prog.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

feat: add validation for parallelism
  pkg/xdperf/config.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

Path conditions:
  check-executables-have-shebangs: any of: **/*
  trailing-whitespace: any of: **/*, but not: *.md, *.patch
  yamllint: any of: **/*.{yml,yaml}
  check-json: any of: **/*.json
  check-toml: any of: **/*.toml
  mixed-line-ending: any of: **/*
  golangci-lint: any of: **/*.go
  clang-format: any of: **/*.{c,h,cc,cpp}
