Repository takehaya/xdperf: changes, and which lefthook commands are due for each by the changed paths.
All: check-executables-have-shebangs, trailing-whitespace, yamllint, check-json, check-toml, mixed-line-ending, golangci-lint, clang-format

lefthook.yaml:

---
pre-commit:
  parallel: true
  commands:
    check-executables-have-shebangs:
      glob: "**/*"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          if [ -x "$file" ] && [ -f "$file" ] && ! grep -q '^#!' "$file"; then
            echo "Executable without shebang: $file"
            exit 1
          fi
        done

    trailing-whitespace:
      glob: "**/*"
      exclude:
        - "*.md"
        - "*.patch"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          if grep -q '[[:space:]]$' "$file"; then
            sed -i 's/[[:space:]]*$//' "$file"
            echo "Fixed trailing whitespace in: $file"
          fi
        done

    yamllint:
      glob: "**/*.{yml,yaml}"
      run: yamllint -f colored {staged_files}

    check-json:
      glob: "**/*.json"
      run: |
        failed=0
        for f in {staged_files}; do
          if ! jq -e empty "$f" >/dev/null 2>&1; then
            echo "JSON parse error in $f"
            jq empty "$f"
            failed=1
          fi
        done
        exit $failed

    check-toml:
      glob: "**/*.toml"
      run: taplo check {staged_files}

    mixed-line-ending:
      glob: "**/*"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          dos2unix -q "$file"
        done

    golangci-lint:
      glob: "**/*.go"
      run: golangci-lint run --fix

    clang-format:
      glob: "**/*.{c,h,cc,cpp}"
      run: clang-format -i {staged_files}

commit-msg:
  commands:
    msg-check:
      run: |
        if ! grep -qE '^(hotfix|feat|fix|docs|style|refactor|perf|test|chore|ci)((\([^\)]*\))|)!?:\s*' {1}; then
          echo "Commit message must include conventional commit type."
          echo "Format: <type>(<scope>): <description>"
          exit 1
        fi

# Colors and output
colors: true

chore: fix comments
  pkg/xdperf/bpf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: checksum calculation bug
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.o
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

chore: add comments
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.o
  pkg/xdperf/bpf.go
  plugins/simpleudp.tinygo/main.go
  src/xdp_packet.h
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

chore: add error logs and counts
  pkg/coreelf/bpf_bpfeb.go
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.go
  pkg/coreelf/bpf_bpfel.o
  pkg/plugin/manager.go
  pkg/xdperf/generator_test.go
  pkg/xdperf/stats.go
  src/xdp_checksum.h
  src/xdp_prog.c
  src/xdp_prog.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

fix: error handling
  pkg/plugin/manager.go
  pkg/xdperf/bpf.go
  pkg/xdperf/generator.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: build error
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.o
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

fix: use __noinline to prevent verifier state explosion
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.o
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

chore: add comments
  pkg/coreelf/bpf_bpfeb.go
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.go
  pkg/coreelf/bpf_bpfel.o
  pkg/guest/surface.go
  pkg/xdperf/bpf.go
  src/xdp_packet.h
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

fix: update Go version to 1.25.5
  go.mod
Due: none

chore: rename plugins
  plugins/comprehensive-test.tinygo/go.mod
  plugins/test_udp.tinygo/config.go
  plugins/test_udp.tinygo/go.mod
  plugins/test_udp.tinygo/go.sum
  plugins/test_udp.tinygo/main.go
  plugins/test_udp.tinygo/packet.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

chore: revert unwanted diff in simpleudp main go
  plugins/simpleudp.tinygo/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

chore: improve error handling and comments
  pkg/plugin/manager.go
  pkg/xdperf/generator.go
  pkg/xdperf/generator_test.go
  src/xdp_packet.h
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

feat: support for 16 byte diff
  pkg/coreelf/bpf_bpfeb.go
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.go
  pkg/coreelf/bpf_bpfel.o
  pkg/guest/surface.go
  pkg/plugin/manager.go
  pkg/xdperf/bpf.go
  pkg/xdperf/generator.go
  pkg/xdperf/generator_test.go
  src/xdp_packet.h
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

fix: status expansion when using 16byte diff
  pkg/coreelf/bpf_bpfeb.go
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.go
  pkg/coreelf/bpf_bpfel.o
  pkg/xdperf/bpf.go
  src/xdp_packet.h
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

refactor: use tail call
  pkg/coreelf/bpf_bpfeb.go
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.go
  pkg/coreelf/bpf_bpfel.o
  pkg/coreelf/elf.go
  pkg/xdperf/bpf.go
  src/xdp_packet.h
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

chore: fix minor issues
  pkg/coreelf/bpf_arm64_bpfel.go
  pkg/coreelf/bpf_arm64_bpfel.o
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.o
  pkg/coreelf/bpf_x86_bpfel.go
  pkg/coreelf/bpf_x86_bpfel.o
  pkg/coreelf/elf.go
  pkg/xdperf/generator.go
  pkg/xdperf/generator_test.go
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

fix: checksum calculation
  pkg/coreelf/bpf_arm64_bpfel.o
  pkg/coreelf/bpf_x86_bpfel.o
  pkg/xdperf/generator.go
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

fix: add ByteRangeBytes to prevent overflow
  pkg/guest/surface.go
  pkg/xdperf/generator.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

refactor: diff 16 byte -> 8 byte
  pkg/coreelf/bpf_arm64_bpfel.o
  pkg/coreelf/bpf_x86_bpfel.o
  pkg/guest/surface.go
  pkg/xdperf/generator.go
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

fix: odd offset
  pkg/coreelf/bpf_arm64_bpfel.o
  pkg/coreelf/bpf_x86_bpfel.o
  pkg/xdperf/generator.go
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

fix: introduce randomInRange to avoid panic
  pkg/xdperf/generator.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: error handling
  pkg/xdperf/bpf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: architecure option
  pkg/coreelf/bpf_arm64_bpfel.go
  pkg/coreelf/bpf_bpfel.go
  pkg/coreelf/bpf_bpfel.o
  pkg/coreelf/bpf_x86_bpfel.o
  pkg/coreelf/elf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

chore: remove redundacy
  pkg/coreelf/bpf_bpfel.o
  pkg/xdperf/bpf.go
  pkg/xdperf/generator.go
  pkg/xdperf/stats.go
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

fix: validate packet size bounds
  pkg/xdperf/bpf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

refactor: remove ChecksumType
  pkg/coreelf/bpf_bpfel.go
  pkg/coreelf/bpf_bpfel.o
  pkg/guest/surface.go
  pkg/xdperf/bpf.go
  plugins/test_udp.tinygo/main.go
  src/xdp_packet.h
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

fix: diff arraysize from 16 to 8
  pkg/coreelf/bpf_bpfel.go
  pkg/coreelf/bpf_bpfel.o
  pkg/xdperf/bpf.go
  pkg/xdperf/generator.go
  pkg/xdperf/generator_test.go
  src/xdp_packet.h
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

docs: inspired by ref
  README.md
Due: none

feat: add support for 6-byte size in valueToBytes and bytesToUint64 functions
  pkg/xdperf/generator.go
  pkg/xdperf/generator_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

refactor: remove architecture dependency
  pkg/coreelf/bpf_bpfel.o
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

chore: remove old comments
  pkg/coreelf/bpf_bpfeb.go
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/elf.go
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

fix: update IPv4 header checksum offset calculation to use offsetof
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.o
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

chore: remove unnecessary tests
  pkg/xdperf/bpf.go
  pkg/xdperf/generator_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: update other plugins
  pkg/xdperf/generator.go
  plugins/imixudp.go/main.go
  plugins/simpleudp.go/main.go
  plugins/simpleudp.tinygo/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

refactor: remove padding
  pkg/coreelf/bpf_bpfeb.go
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.go
  pkg/coreelf/bpf_bpfel.o
  pkg/xdperf/bpf.go
  src/xdp_packet.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

chore: make test_udp more complex
  plugins/test_udp.tinygo/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: add checksum and diff entry structures
  pkg/guest/surface.go
  pkg/xdperf/bpf.go
  src/xdp_checksum.h
  src/xdp_packet.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

fix: update TODO for IPv4 header checksum for IP options
  src/xdp_checksum.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

fix: delete pragma unroll
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.o
  src/xdp_checksum.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

fix: modify to define magic numbers as const
  src/xdp_checksum.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format
