Repository takehaya/xdperf: changes, and which lefthook commands are due for each by the changed paths.
All: check-executables-have-shebangs, trailing-whitespace, yamllint, check-json, check-toml, mixed-line-ending, golangci-lint, clang-format

lefthook.yaml:

---
pre-commit:
  parallel: true
  commands:
    check-executables-have-shebangs:
      glob: "**/*"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          if [ -x "$file" ] && [ -f "$file" ] && ! grep -q '^#!' "$file"; then
            echo "Executable without shebang: $file"
            exit 1
          fi
        done

    trailing-whitespace:
      glob: "**/*"
      exclude:
        - "*.md"
        - "*.patch"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          if grep -q '[[:space:]]$' "$file"; then
            sed -i 's/[[:space:]]*$//' "$file"
            echo "Fixed trailing whitespace in: $file"
          fi
        done

    yamllint:
      glob: "**/*.{yml,yaml}"
      run: yamllint -f colored {staged_files}

    check-json:
      glob: "**/*.json"
      run: |
        failed=0
        for f in {staged_files}; do
          if ! jq -e empty "$f" >/dev/null 2>&1; then
            echo "JSON parse error in $f"
            jq empty "$f"
            failed=1
          fi
        done
        exit $failed

    check-toml:
      glob: "**/*.toml"
      run: taplo check {staged_files}

    mixed-line-ending:
      glob: "**/*"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          dos2unix -q "$file"
        done

    golangci-lint:
      glob: "**/*.go"
      run: golangci-lint run --fix

    clang-format:
      glob: "**/*.{c,h,cc,cpp}"
      run: clang-format -i {staged_files}

commit-msg:
  commands:
    msg-check:
      run: |
        if ! grep -qE '^(hotfix|feat|fix|docs|style|refactor|perf|test|chore|ci)((\([^\)]*\))|)!?:\s*' {1}; then
          echo "Commit message must include conventional commit type."
          echo "Format: <type>(<scope>): <description>"
          exit 1
        fi

# Colors and output
colors: true

fix: use pprintf in stats.go
  pkg/xdperf/stats.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

chore: delete unneccesary default value
  cmd/xdperf/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

chore: update readme
  README.md
  plugins/README.md
Due: check-executables-have-shebangs, mixed-line-ending

chore: update README
  README.md
  plugins/README.md
Due: check-executables-have-shebangs, mixed-line-ending

fix: argument validation for receiver mode
  pkg/xdperf/config.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs: add xdperf logo
  README.md
  docs/imgs/logo.png
  docs/imgs/logo_with_name.png
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

docs: modify readme
  README.md
Due: none

docs: remove noise docs
  plugins/simpleudp.go/README.md
Due: check-executables-have-shebangs, mixed-line-ending

add xdperf.pdf
  docs/xdperf.pdf
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

update README
  README.md
Due: none

feat: add support probe
  cmd/xdperf/main.go
  pkg/coreelf/elf.go
  pkg/probe/attachmode.go
  pkg/probe/probe.go
  pkg/probe/xdp.go
  pkg/xdperf/bpf.go
  pkg/xdperf/xdperf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs: update docs
  README.md
  docs/cli.md
Due: check-executables-have-shebangs, mixed-line-ending

feat: add blast mode and map size compaction
  README.md
  cmd/xdperf/main.go
  go.mod
  go.sum
  pkg/coreelf/elf.go
  pkg/xdperf/config.go
  pkg/xdperf/xdperf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: add batch size params
  cmd/xdperf/main.go
  pkg/xdperf/config.go
  pkg/xdperf/xdperf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: add memcpy optimize
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.o
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

feat: add enable xdpcap
  cmd/xdperf/main.go
  pkg/coreelf/bpf_bpfeb.go
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.go
  pkg/coreelf/bpf_bpfel.o
  pkg/xdperf/config.go
  pkg/xdperf/xdperf.go
  src/xdp_prog.c
  src/xdpcap.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

docs: add perf report
  docs/ja/tips.md
  src/xdpcap.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

chore: update go version
  go.mod
Due: none

docs: update tips perf
  docs/ja/tips.md
Due: check-executables-have-shebangs, mixed-line-ending

chore: add test tips
  docs/ja/tips.md
Due: check-executables-have-shebangs, mixed-line-ending

refactor: rename to infinite
  README.md
  cmd/xdperf/main.go
  docs/cli.md
  docs/ja/tips.md
  pkg/xdperf/config.go
  pkg/xdperf/xdperf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: skip arp lookup and dstmac intent
  plugins/simpleudp.go/config.go
  plugins/simpleudp.go/main.go
  plugins/simpleudp.tinygo/config.go
  plugins/simpleudp.tinygo/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

chore: remove imix case
  plugins/simpleudp.go/main.go
  plugins/simpleudp.go/packet.go
  plugins/simpleudp.tinygo/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: add imix pattern plugin
  plugins/imixudp.go/config.go
  plugins/imixudp.go/go.mod
  plugins/imixudp.go/go.sum
  plugins/imixudp.go/main.go
  plugins/imixudp.go/packet.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: generate packet in ebpf
  pkg/coreelf/bpf_bpfeb.go
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.go
  pkg/coreelf/bpf_bpfel.o
  pkg/guest/surface.go
  pkg/plugin/manager.go
  pkg/xdperf/bpf_differential.go
  pkg/xdperf/diff_generator.go
  pkg/xdperf/stats.go
  pkg/xdperf/template.go
  pkg/xdperf/template_test.go
  pkg/xdperf/xdperf.go
  plugins/comprehensive-test.tinygo/config.go
  plugins/comprehensive-test.tinygo/go.mod
  plugins/comprehensive-test.tinygo/main.go
  plugins/comprehensive-test.tinygo/packet.go
  src/xdp_checksum.h
  src/xdp_differential.h
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

refactor: stats calculation
  pkg/xdperf/bpf_differential.go
  pkg/xdperf/stats.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: stat count
  plugins/simpleudp.tinygo/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

chore: update object files
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.o
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix: correct indentation in checksum recalculation
  src/xdp_checksum.h
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format

refactor: use diff update
  pkg/coreelf/bpf_bpfeb.go
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.go
  pkg/coreelf/bpf_bpfel.o
  pkg/xdperf/bpf_differential.go
  pkg/xdperf/diff_generator.go
  src/xdp_checksum.h
  src/xdp_differential.h
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

fix:: multiple bugs
  pkg/coreelf/bpf_bpfeb.go
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.go
  pkg/coreelf/bpf_bpfel.o
  pkg/xdperf/bpf_differential.go
  pkg/xdperf/diff_generator.go
  pkg/xdperf/xdperf.go
  src/xdp_differential.h
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

chore: add unit test
  pkg/xdperf/generator_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: add base packet count validation
  pkg/xdperf/generator.go
  pkg/xdperf/generator_test.go
  pkg/xdperf/xdperf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

refactor: use diff update even when raw packet template
  pkg/coreelf/bpf_bpfeb.go
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.go
  pkg/coreelf/bpf_bpfel.o
  pkg/guest/surface.go
  pkg/xdperf/bpf.go
  pkg/xdperf/bpf_differential.go
  pkg/xdperf/generator.go
  pkg/xdperf/stats.go
  pkg/xdperf/xdperf.go
  src/xdp_packet.h
  src/xdp_prog.c
  src/xdp_prog.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint, clang-format

refactor: delete duplicate remove algorithm
  pkg/xdperf/generator.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: increase MAX_COPY_CHUNKS to 32 and handle odd offset checksum
  pkg/coreelf/bpf_bpfeb.o
  pkg/coreelf/bpf_bpfel.o
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, clang-format
